/* importing of fonts */

@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display|Ubuntu');

/* styling body */

body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	background: #fff;
}

/* styling header */

header {
	width: auto;
	height: 80px;
	background: #00FF8A;
	overflow: auto;
	margin: 0;
}

/* styling logo image */

header .logo_img {
	margin: 10px;
	height: 60px;
	width: auto;
	float: left;
	box-sizing: border-box;
	border: 5px solid #fff;
}

/* styling heading of logo */

header h2 {
	font-size: 35px;
	color: #fff;
	float: left;
	line-height: 80px;
	margin: 0;
}

/* styling navbar */

nav {
		background: inherit;
		height: 70px;
		float: right;
		margin: 5px;
}

/* styling button of menu */

.menuBtn {
		height: 50px;
		margin: 10px;
		width: 60px;
		box-sizing: border-box;
		border-radius: 6px;
		border: 2px solid #fff;
}
.menuBtn .row {
		background: #fff;
		height: 6px;
		border-radius: 6px;
		width: 40px;
		margin: 7px auto;
}
	
/* styling list (in navbar) */
	
nav ul {
		list-style-type: none;
		padding: 0px;
		margin: 0;
		top: 0px;
		right: 0;
		opacity: 0;
		background: #00dd8a;
		transition: all .5s ease-out;
		position:absolute;
		z-index: -1;
}
nav ul li {
		padding: 10px 20px;
		border-bottom: 2px solid #fff
}
nav ul li .link {
		padding: 0px;
		font-size: 22px;
		color: #fff;
		text-decoration: none;
}

/* styling container */

.container {
	width: 80%;
	padding: 0;
	text-align: center;
	margin: 0 auto 30px auto;
	transition: all .5s ease-out;
}

/* styling subtitle of container */

.container .subtitle {
	font-size: 45px;
	margin: 0;
	padding: 20px;
}
.container .box{
  padding: 0 0 20px 0;
  width: 100%;
  margin: 0 auto;
  text-align: left
}
.container .box .loader{
  width: 29%;
  height: calc(70vw / 3);
  margin: calc(29% / 12) 0 0 calc(28% / 12);
  color: #444;
  background: #24ccff;
  font: 130% 'Arial';
  text-align: center;
  line-height: 130px;
  display: inline-block;
  border: 2px solid #3498db;
  box-sizing: border-box;
  box-sizing: content-box;
}