body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background: #fff;
}
header {
	width: auto;
	height: 100px;
	padding: 10px;
	background: #24FF9C;
	overflow: auto;
	margin: 0;
}
header .logo_img {
	margin: 10px;
	height: 80px;
	width: auto;
	float: left;
	box-sizing: border-box;
	border: 5px solid #fff;
}
header h2 {
	font-size: 35px;
	color: #fff;
	float: left;
	line-height: 100px;
	margin: 0;
}

.container {
	width: 80%;
	border: 5px double #24fffc;
	padding: 0;
	text-align: center;
	margin: 10% auto;
}

.container .box{
  width:80%;
  padding:5px;
  margin:0 auto;
}

.container .box .img{
  width:180px;
  height:130px;
  margin:30px;
  color: #244;
  background:#24ffcc;
  font: 25px 'Arial';
  line-height: 130px;
  display:inline-block;
  border-bottom:10px solid #24ccff;
}