/* importing fonts */
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display|Ubuntu');

/* styling of body */
body {
	margin: 0;
	padding: 0;
    font-family: 'Ubuntu', sans-serif;
	background: #fff;
}

/* styling of header */
header {
	width: auto;
	height: 100px;
	background: #00CDDE;
	overflow: auto;
	margin: 0;
}

/* styling of logo image */

header .logo_img {
	margin: 20px;
	height: 60px;
	width: auto;
	float: left;
	box-sizing: border-box;
	border: 5px solid #fff;
}

/* styling of heading of logo */

header h2 {
	font-size: 35px;
	color: #fff;
	float: left;
	line-height: 100px;
	margin: 0;
}

nav {
		background: #81FF00;
		height: 70px;
		float: right;
		margin: 0;
	}
	.menuBtn {
		height: 50px;
		margin: 10px;
		width: 60px;
		box-sizing: border-box;
		border-radius: 6px;
		border: 2px solid #fff;
	}
	
	.menuBtn .row {
		background: #fff;
		height: 10px;
		border-radius: 6px;
		width: 50px;
		margin: 4px auto;
	}
	
	nav ul {
		list-style-type: none;
		padding: 0px;
		margin: 0;
		top: 70px;
		right: 0;
		z-index: -10;
		background: #eee;
		transition: all .5s ease-out;
		position:absolute;
	}
	nav ul li {
		padding: 10px 20px;
		border-bottom: 2px solid #5CB300
	}


	nav ul li .link {
		padding: 0px;
		font-size: 22px;
		color: #5cb300;
		text-decoration: underline;
	}

/* styling of container */

.container {
	width: 80%;
	padding: 0;
	text-align: center;
	margin: 0 auto 30px auto;
}

.container .subtitle {
	font-size: 45px;
	margin: 0;
	padding: 20px;
}

.container .box{
  padding: 0;
  width: 100%;
  margin: 0 auto;
  text-align: left
}

.container .box .loader{
  width: 25%;
  height: calc(60vw / 3);
  margin: calc(25% / 12);
  color: #444;
  background: #24ccff;
  font: 100% 'Arial';
  text-align: center;
  line-height: 130px;
  display: inline-block;
  border: 2px solid #3498db;
  box-sizing: border-box;
  box-sizing: content-box;
}

