@media only screen and (max-width:770px){
	header h2 {
		display: none;
	}

	nav ul li {
		padding: 10px 20px;
		border-bottom: 2px solid #fff;
		width: calc(100vw - 40px);
	}

	.container {
		width: 95%;
		margin: auto;
	}
	
	.container .box .loader{
	  width: 30%;
	  height: calc(85vw / 3);
	  margin: 2px 0 0 1px;
	}
}