body {
    margin: 0;
}

/* styling the full box. */
.box {
    width: 100vw;
    height: 100vh;
    box-sizing: padding-box;
    box-sizing: content-box;
    z-index: 99;
    margin: 0;
    padding: 0; 
    background: #eee;
    position: relative
}

/* styling the ball. */
.box .ball {
    width: 30px;
    height: 30px;
    top: 50vh;
    left: 49vw;
    border-radius: 50%;
    animation: jumping 2s ease infinite;
    position: absolute;
    z-index: 5
}

/* styling flour. */
.box .flour {
    top: 50vh;
    left: 0;
    width: 100vw;
    height: 50vh;
    background: #44885F;
    position: absolute;
}

/* hidden the contents div. */
.contents {
    display: none
}

/* bulid animations for ball and shadow's. */
@keyframes jumping {
    from {
        top: calc(55vh - 15px);
        background: #eee
    }

    50% {
        top: calc(45vh - 15px);
        background: #44885F
    }

    to {
        top: calc(55vh - 15px);
        background: #eee
    }
}