body {
    margin: 0;
}

/* styling the full box. */
.box {
    width: 100vw;
    height: 100vh;
    box-sizing: padding-box;
    box-sizing: content-box;
    z-index: 99;
    margin: 0;
    padding: 0; 
    background: #eee;
    position: relative
}

/* styling the ball. */
.box .ball {
    width: 30px;
    height: 30px;
    top: 49vh;
    left: 48vw;
    border-radius: 50%;
    background: #48f;
    animation: jumping 0.5s ease infinite;
    position: absolute;
}

/* set shadow for ball. */
.box .shadow {
    top: 51.5vh;
    left: 48vw;
    width: 30px;
    height: 2px;
    background: #8a8a8a;
    position: absolute;
    border-radius: 50%;
    animation: shadow_anime 0.5s linear infinite;
    opacity: 0.9;
}

/* hidden the contents div. */
.contents {
    display: none
}

/* bulid animations for ball and shadow's. */
@keyframes jumping {
    from {
        top: 47vh;
    }

    50% {
        top: 44vh;
    }

    to {
        top: 47vh;
    }
}
@keyframes shadow_anime {
    0% {
        opacity: 1;
        width: 5px;
        left: 49vw;
    }
    50% {
        opacity: .2;
        width: 30px;
        left: 48vw;
    }
    100% {
        opacity: 1;
        width: 5px;
        left: 49vw;

    }
}