body {
    margin: 0;
}

/* styling the full box. */
.box {
    width: 100vw;
    height: 100vh;
    box-sizing: padding-box;
    box-sizing: content-box;
    z-index: 99;
    margin: 0;
    padding: 0;    
    background: #eee;
    position: relative
}

/* styling the ball. */
.box .ball {
    width: 30px;
    height: 30px;
    top: 50vh;
    left: calc(50vw - 15px);
    border-radius: 50%;
    animation: jumping 2s cubic-bezier(.86,0,.07,1) infinite;
    position: absolute;
    z-index: 5
}

/* styling flour. */
.box .flour {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background: #44885F;
    position: absolute;
}

/* hidden the contents div. */
.contents {
    display: none
}

/* bulid animations for ball and shadow's. */
@keyframes jumping {
    from {
        top: calc(50vh - (80px + 15px));
        background: #44885F
    }

    50% {
        top: calc(50vh + (20px - 15px));
        background: #eee
    }

    to {
        top: calc(50vh - (80px + 15px));
        background: #44885F
    }
}