body {
    margin: 0;
}

/* styling the full box. */
.box {
    height: calc(50vh + 50px);
    width: calc(50vw + 50px);
    background: #555eee;
    margin: 0;
    padding-top: calc(50vh - 50px);
    padding-left: calc(50vw - 50px);
    box-sizing: content-box;
    z-index: 99;
}

/* styling the ball. */
.box .ball {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 12px dotted #28148d;
    animation: zoom 2s cubic-bezier(.68,-0.55,.27,1.55) infinite;
    position: relative;
}

/* styling the fill of ball. */
.box .ball .fill {
    width: 0;
    height: 0;
    border-radius: 0;
    background: #eee;
    top: 30%;
    left: 30%;
    animation: filling 2s cubic-bezier(.86,0,.07,1) infinite;
    position: absolute;
}

/* hidden the contents div. */
.contents {
    display: none
}

/* bulid animations for ball. */
@keyframes filling {
    from {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 1;
    }
    to {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
        border-width: 10px;
        border-radius: 50%
    }
}

@keyframes zoom {
    from {
        transform: rotate(-45deg)
    }
    to {
        transform: rotate(45deg)
    }
}